---
title: Home
---

<h1>HAE Hire Convention Announcement</h1>

<h2>Save your business money.</h2>

<p>On the 29<sup>th</sup>/30<sup>th</sup> January 2014, Hire Association Europe (HAE) and The Trinity Mirror Group will host an event designed to educate and inform, raising awareness about the hire industry and creating the &lsquo;Desire for Hire&rsquo;.</p>

<p>Taking place at Birmingham's famous National Motorcycle Museum, the convention will have three core areas - Conference, Exhibition and Education Workshops plus there will be networking opportunities and a formal dinner.</p>

<p><strong>Graham Arundell, HAE Managing Director</strong> adds &ldquo;The 2014 Convention is a great opportunity to showcase the very best of the hire sector. Working with Trinity Mirror, the event will combine an opportunity to both share good practice and meet exhibitors to find out more about what the hire sector can offer. We are a major enabler of construction, infrastructure and regeneration activity so we are delighted to be able to showcase what we do as a sector.&rdquo;</p>

<p><strong>Laura Bielinski, Trinity Mirror Midlands Sales Director</strong> continues &ldquo;Trinity Mirror Midlands are delighted to be working in partnership with HAE on this new initiative to raise awareness of the multi faceted hire service industry, particularly when infrastructure and growth in the Midlands is at an all time high.We anticipate that the inaugural Hire Convention event will create a platform to showcase innovation in this sector and demonstrate the strength of the hire industry in the region.&rdquo;</p>


<p><strong>We encourage members join us and move forward in an attempt to raise the profile of the hire industry.</strong></p>

<p>To learn about ways in which we can involve you in the HAE Hire Convention 2014, please contact Jack Lunn at the Trinity Mirror Group on:</p>

<p>0121 234 5130<br>
<a href="mailto:jack.lunn@trinitymirror.com">jack.lunn@trinitymirror.com</a></p>

