---
title: Home
---

<h1>HAE Hire Convention Announcement</h1>

<p>HAE are delighted to announce a newly formed partnership with The Trinity Mirror Group. The aim of the partnership is to raise awareness of the hire industry whilst delivering routes to market for HAE members. Creating the &#8216;Desire for Hire&#8217; is the number one objective.</p>

<p>Today we are delighted to announce the first stage of the partnership - The HAE Hire Convention.</p>

<p>In January 2014, HAE and The Trinity Mirror Group will host an event designed to educate and inform, raising awareness about the industry and creating that &#8216;Desire for Hire&#8217;.</p>

<p>The convention will have three core areas - Conference, Exhibition and Education Workshops. Whilst offering these three aspects to our delegates, there will also be networking opportunities and a formal dinner. It will take place at Birmingham's famous National Motorcycle Museum on Wednesday 29<sup>th</sup> and Thursday 30<sup>th</sup> January 2014.</p>

<p>Graham Arundell, HAE Managing Director adds &#8220;The 2014 Convention is a great opportunity to showcase the very best of the hire sector. Working with Trinity Mirror, the event will combine an opportunity to both share good practice and meet exhibitors to find out more about what the hire sector can offer. We are a major enabler of construction, infrastructure and regeneration activity so we are delighted to be able to showcase what we do as a sector.&#8221;</p>

<p>Laura Bielinski, Trinity Mirror Midlands Sales Director continues &#8220;Trinity Mirror Midlands are delighted to be working in partnership with HAE on this new initiative to raise awareness of the multi faceted hire service industry, particularly when infrastructure and growth in the Midlands is at an all time high.</p>

<p>We anticipate that the inaugural Hire Convention event will create a platform to showcase innovation in this sector and demonstrate the strength of the hire industry in the region.&#8221;</p>

<p>We encourage members join us and move forward in an attempt to raise the profile of the hire industry. To learn about ways in which we can involve you in the HAE Hire Convention 2014, please contact Jack Lunn at the Trinity Mirror Group. You can also contact Jack for further details on the event - 0121 234 5130 <a href="mailto:jack.lunn@trinitymirror.com">jack.lunn@trinitymirror.com</a></p>
