---
title: Agenda
---

<h1>Agenda</h1>

<h2>Stay ahead of your competitors with the latest equipment and don't be lumbered with out of date and expensive assets.</h2>

<h3>Day One</h3>

<table class="table table__agenda" cellpadding="0" cellspacing="1" border="0">
  <thead>
    <tr>
      <th class="table__agenda--time">Time</th>
      <th>Topic</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__agenda--registration">
      <td>10:00 AM</td>
      <td>Registration, Networking, Introductions</td>
      <td>Premier/Manxman/Compton Suites
(Exhibition Area)</td>
    </tr>
    <tr class="table__agenda--group">
    <td>10:30 AM</td>
    <td>Opening Comments<br>Graham Arundell, Marc Reeves & Main Sponsor</td>
    <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--group">
      <td>11:00 AM</td>
      <td>Geoffrey Spence - HM Treasury</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--group">
      <td>11:30 AM</td>
      <td>Industry Expert - Thought Leadership, HAE</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--break">
      <td>12:00 PM</td>
      <td>Tea & Coffee / Networking</td>
      <td>Premier/Manxman/Compton Suites<br>(Exhibition Area)</td>
    </tr>
    <tr class="table__agenda--break">
      <td>12:30 PM</td>
      <td>Lunch / Networking</td>
      <td>Premier/Manxman/Compton Suites<br>(Catering/Refreshments/Networking)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>2:00 PM</td>
      <td>HSE - Construction Dust</td>
      <td>Waterloo Suite<br>(Workshop 1)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>2:00 PM</td>
      <td><strong>HAE - Hire vs Buy</strong></td>
      <td>Kirkmichael Suite<br>(Workshop 2)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>2:00 PM</td>
      <td>TBC</td>
      <td>Bracebridge Suite<br>(Workshop 3)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>2:00 PM</td>
      <td>Higher Concept - Social Media Seminar</td>
      <td>Ballacraine Suite<br>(Workshop 4)</td>
    </tr>
    <tr class="table__agenda--break">
      <td>2:45 PM</td>
      <td>Tea & Coffee / Networking</td>
      <td>Premier/Manxman/Compton Suites<br>(Exhibition Area)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>3:00 PM</td>
      <td>Off Grid Energy</td>
      <td>Waterloo Suite<br>(Workshop 1)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>3:00 PM</td>
      <td><strong>HAE - Hire Guard</strong></td>
      <td>Kirkmichael Suite<br>(Workshop 2)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>3:00 PM</td>
      <td>Solertia - How to Inject &pound;97,000 into Your Hire Business</td>
      <td>Bracebridge Suite<br>(Workshop 3)</td>
    </tr>
    <tr class="table__agenda--workshop">
      <td>3:00 PM</td>
      <td>Erento - Hiring Online</td>
      <td>Ballacraine Suite<br>(Workshop 4)</td>
    </tr>
    <tr class="table__agenda--group">
      <td>3:45 PM</td>
      <td>Q & A Panel Session<br>Panel Member from each workshop</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--group">
      <td>4:30 PM</td>
      <td>Closing Comments<br>HAE, Trinity Mirror and Main Sponsor</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--break">
      <td>5:00 PM</td>
       <td>Networking<br>Production Demos<br>Introductions</td>
       <td>Premier/Manxman/Compton Suites<br>(Exhibition Area)</td>
    </tr>
    <tr class="table__agenda--close">
      <td>5:30 PM</td>
      <td colspan="2">CLOSE OF DAY</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>5:30 PM</td>
      <td>Drinks Reception / Networking</td>
      <td>Premier/Manxman/Compton Suites<br>(Catering/Refreshments/Networking)</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>7:00 PM</td>
      <td>Reception - Motorcycle Museum Area</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>7:30 PM</td>
      <td>Evening Meal / Networking</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>8:30 PM</td>
      <td>Dinner Speaker / Entertainment</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>9:00 PM</td>
      <td>Presentation of Awards</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
    <tr class="table__agenda--evening">
      <td>9:30 PM</td>
      <td>Drinks Reception / Networking</td>
      <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
    </tr>
  </tbody>
</table>

  <h3>Day Two</h3>

  <table class="table table__agenda" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th class="table__agenda--time">Time</th>
        <th>Topic</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table__agenda--registration">
        <td>9:30 AM</td>
        <td>Registration<br>Tea &amp; Coffee<br>Networking</td>
        <td>Premier/Manxman/Compton Suites<br>(Catering/Refreshments/Networking)</td>
      </tr>
      <tr class="table__agenda--group">
        <td>10:00 AM</td>
        <td>Opening Comments - HAE, Trinity Mirror and Main Sponsor</td>
        <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
      </tr>
      <tr class="table__agenda--group">
        <td>10:15 AM</td>
        <td>Deutsche Bank - Investment in the Hire Industry</td>
        <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>10:45 AM</td>
        <td>TBC</td>
        <td>Waterloo Suite<br>(Workshop 1)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>10:45 AM</td>
        <td><strong>HAE - SafeHire</strong></td>
        <td>Kirkmichael Suite<br>(Workshop 2)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>10:45 AM</td>
        <td>TBC</td>
        <td>Bracebridge Suite<br>(Workshop 3)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>10:45 AM</td>
        <td>Higher Concept - Social Media</td>
        <td>Ballacraine Suite<br>(Workshop 4)</td>
      </tr>
      <tr class="table__agenda--break">
        <td>11:30 PM</td>
        <td>Tea &amp; Coffee / Networking</td>
        <td>Premier/Manxman/Compton Suites<br>(Exhibition Area)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>11:45 PM</td>
        <td>Off Grid Energy</td>
        <td>Waterloo Suite<br>(Workshop 1)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>11:45 PM</td>
        <td><strong>HAE - HireGuard</strong></td>
        <td>Kirkmichael Suite<br>(Workshop 2)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>11:45 PM</td>
        <td>WRAP - Sustainability </td>
        <td>Bracebridge Suite <br>(Workshop 3)</td>
      </tr>
      <tr class="table__agenda--workshop">
        <td>11:45 PM</td>
        <td>Erento - Hiring Online </td>
        <td>Ballacraine Suite<br>(Workshop 4)</td>
      </tr>
      <tr class="table__agenda--break">
        <td>12:15 PM</td>
        <td>Networking<br>Production Demos<br>Introductions</td>
        <td>Premier/Manxman/Compton Suites</td>
      </tr>
      <tr class="table__agenda--break">
        <td>12:30 PM</td>
        <td>Lunch / Networking</td>
        <td>(Catering/Refreshments/Networking)</td>
      </tr>
      <tr class="table__agenda--group">
        <td>1:30 PM</td>
        <td>Q&amp;A Panel Session<br>Panel member from each workshop</td>
        <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
      </tr>
      <tr class="table__agenda--group">
        <td>2:15 PM</td>
        <td>HS2 - What's in it for the hire Industry?</td>
        <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
      </tr>
      <tr class="table__agenda--break">
        <td>3:00 PM</td>
        <td>Networking<br>Production Demos<br>Introductions</td>
        <td>Premier/Manxman/Compton Suite<br>(Exhibition Area)</td>
      </tr>
      <tr class="table__agenda--group">
        <td>3:30 PM</td>
        <td>Closing Comments<br>HAE, Trinity Mirror and Main Sponsor</td>
        <td>Britannia Suite<br>(Main Hall/Conference Room)</td>
      </tr>
      <tr class="table__agenda--close">
        <td>3:45 PM</td>
        <td colspan="2">Close</td>
      </tr>
  </tbody>
</table>
