---
title: Exhibitors
---

<h1>Exhibitors</h1>

<h2>Remove the stress of equipment certification and
safety.</h2>

<section class="box">
  <img class="image_responsive" src="{{ media }}/images/floor_plan.png" alt="">
</section>

<section>

  <h3 class="gamma">Confirmed Exhibitors</h3>

  <ul class="list column-2">
    <li>Altrad Belle</li>
    <li>Birchwood Price Tools</li>
    <li>BME AV Ltd</li>
    <li>Bosch</li>
    <li>Calor Gas</li>
    <li>Cummins Power</li>
    <li>Department of Work and Pensions</li>
    <li>Dustcontrol</li>
    <li>EcoGum</li>
    <li>Erento</li>
    <li>Grounds Care Products</li>
    <li>HAE</li>
    <li>HigherConcept (Syrinx)</li>
    <li>Hire Supply Co</li>
    <li>HSE</li>
    <li>HSS</li>
    <li>Husqvarna Construction Products</li>
    <li>inspHire</li>
    <li>JLG Industries</li>
    <li>Kubota (U.K.) Limited</li>
    <li>Lloyds</li>
    <li>Makita</li>
    <li>Marcrist International</li>
    <li>Off Grid Energy</li>
    <li>Post Pullers</li>
    <li>Red Band UK</li>
    <li>Seaward / Clare</li>
    <li>Sollertia Ltd</li>
    <li>SPE International</li>
    <li>Speedy Hire</li>
    <li>Toolbank</li>
    <li>Trinity Mirror</li>
    <li>Youngman</li>
  </ul>

</section>
