---
title: Partner Opportunities
---

<h1>Partner Opportunities</h1>

<p>If you would like to get involved with the HAE EHA Hire Convention 2014, please contact Jack Lunn on 0121 234 5130 or <a href="mailto:jack.lunn@trinitymirror.com">jack.lunn@trinitymirror.com</a></p>

<article id="exhibitors">
  <h2>Exhibitors</h2>
  <ul>
    <li>Stand in exhibition area. (We build it, you keep it!)</li>
    <li>Branding on main stage, electronic displays, delegate tickets and exhibition area.</li>
    <li>Branding, editorial spread and advert in the conference guide.</li>
    <li>Branding on promotional activity in Trinity Mirror's portfolio titles.</li>
    <li>Branding on conference website with editorial lead on section choice.</li>
    <li>Promotional material in delegate pack.</li>
    <li>2 Invitations to evening meal.</li>
  </ul>
</article>

<article id="headline-partners">
  <h2>Headline Partner</h2>
  <ul>
    <li>Exclusive headline sponsor.</li>
    <li>Speaker at conference opening.</li>
    <li>Speaker at conference closing.</li>
    <li>Choice of seats with key speakers and delegates on the top table – evening meal.</li>
    <li>Introductions to key speakers and delegates.</li>
    <li>Speaker on debate panel.</li>
    <li>Input into VIP invitation list.</li>
    <li>Editorial column in Birmingham Post for 12 months as sector specialist.</li>
    <li>Profile on conference website.</li>
    <li>10 Invitations to evening meal.</li>
    <li>Plus everything from the Exhibitor package.</li>
  </ul>
</article>

<article id="workshops">
  <h2>Workshop Hosts / Partners</h2>
  <ul>
    <li>Host of workshop for sector.</li>
    <li>Input into VIP invitation list.</li>
    <li>5 Invitations to evening meal.</li>
    <li>Plus everything from the Exhibitor package.</li>
  </ul>
</article>

<article id="evening-meal">
  <h2>Evening Meal Sponsor</h2>
  <ul>
    <li>Branding on main stage, electronic displays, delegate tickets and exhibition area.</li>
    <li>Branding, editorial spread and advert in the conference guide.</li>
    <li>Branding on promotional activity in Trinity Mirror's portfolio titles.</li>
    <li>Branding on conference website with editorial lead on section choice.</li>
    <li>Promotional material in delegate pack.</li>
    <li>5 Invitations to evening meal.</li>
    <li>Stand in exhibition area.</li>
  </ul>
</article>

<article id="video">
  <h2>Video Production Sponsor</h2>
  <ul>
    <li>Branding on t-shirts of the video crew</li>
    <li>Branding on the show reel video (intro, watermark and outro)</li>
    <li>Branding on ‘Desire For Hire’ video (intro, watermark and outro)</li>
    <li>Up to 20 seconds speaking slot on the ‘Desire For Hire’ video</li>
    <li>5 Invitations to evening meal</li>
    <li>Plus everything from the Exhibitor package.</li>
  </ul>
</article>
