<!DOCTYPE html>
<html>

  <head>

    {{> prefetch }}
    {{> meta }}

    <title>{{ title }} &ndash; Hire Convention 2014</title>

    {{> favicon }}
    {{> css }}
    {{> javascript_head }}

  </head>

  <body>

    <a href="#content" class="visuallyhidden focusable" title="Skip to Site Content" accesskey="s">Skip to page content</a>

    {{> header }}

    <main class="cf wrapper" id="content" >

      <section class="grid ls1-16">
        {{> body }}
      </section>

      <aside class="grid ls17-24">
        {{> aside }}
      </aside>

    </main><!--/ wrapper  -->



    {{> footer }}

    {{> javascript_body }}

  </body>
  </html>
