---
title: About
---

<h1>About</h1>

<h2>Free your business from expensive maintenance contracts and costs.</h2>

<p><strong>Hire Association Europe</strong> and <strong>Event Hire Association</strong> are the industry-leading trade associations for the plant and tool hire industry and the event hire industry. They serve over 900 members across the world, providing insurance services, legal advice, training, publicity, safety checks, leaflets, lobbying and much more!</p>

<p>Get in touch on 0121 380 4600 or visit <a href="http://www.har.org.uk">www.hae.org.uk</a> | <a href="http://www.eha.org.uk">www.eha.org.uk</a></p>

<h3>Trinity Mirror Group</h3>

<p>The Trinity Mirror Group is the largest publishing house in the UK boasting some of the UK's most recognisable national titles such as the Daily Mirror, Sunday People and Daily Record. We also pride ourselves in having hundreds of regional titles across the UK giving us a reach into many different communities, audiences and industries.
</p>

<p>As our portfolio continues to evolve, events, mobile and online marketing become increasingly important.
</p>

<p>Communicating with an existing audience in print and also a new, growing audience with digital and events, gives us the opportunity to offer our clients a wide reach in to many different industries and sectors.
</p>

<p>It's an exciting time for the hire industry and we're happy to be working with the HAE / EHA to raise awareness and create that &lsquo;Desire For Hire&rsquo;.
</p>

<p>We look forward to seeing you in January.</p>

<p><strong>Trinity Mirror Group</strong></p>

<section>
  <ul class="list list__inline badges">
    <li>
      <a href="http://www.birminghammail.co.uk/" onclick="javascript:ga('send', 'event', 'outbound', '/about/', 'birmingham-mail');">
        <img class="image_responsive" src="{{ media }}/images/logo/logo_birmingham-mail.png" alt="Birmingham Mail">
      </a>
    </li><!--
 --><li>
      <a href="http://www.coventrytelegraph.net/" onclick="javascript:ga('send', 'event', 'outbound', '/about/', 'coventry-telegraph');">
        <img class="image_responsive" src="{{ media }}/images/logo/logo_coventry-telegraph.png" alt="Coventry Telegraph">
      </a>
    </li><!--
 --><li>
      <a href="http://www.trinitymirror.com/" onclick="javascript:ga('send', 'event', 'outbound', '/about/', 'trinity-mirror');">
        <img class="image_responsive" src="{{ media }}/images/logo/logo_trinity-mirror.png" alt="Trinity Mirror">
      </a>
    </li>
  </ul>
</section>
