<h1 class="beta">Travel Information</h1>

<section class="box">

  <h2 class="gamma">Venue</h2>

  <img src="{{ assets }}/gui/temp_national-motorcycle-museum.jpg" alt="">

  <p>The National Motorcycle Museum<br>
  Coventry Road,<br>
  Bickenhill,<br>
  Solihull,<br>
  West Midlands.<br>
  B92 0EJ</p>

</section>

<section class="box">

  <h2 class="gamma">Directions</h2>

  <a target="_blank" href="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=The+National+Motorcycle+Museum,+Solihull&sll=53.800651,-4.064941&sspn=18.074051,57.084961&ie=UTF8&hq=The+National+Motorcycle+Museum,&hnear=Solihull,+United+Kingdom&cid=1072619425052941727&ll=52.450413,-1.703739&spn=0.018308,0.036478&z=14&iwloc=A">
    <img class="rwd" src="http://maps.google.com/maps/api/staticmap?markers=color:blue|52.444527,-1.707730&size=300x150&sensor=false" alt="Map of National Motorcycle Museum location">
  </a>

  <p>The National Motorcycle Museum is located directly on the J6 island of the M42, directly opposite the NEC.</p>

</section>
