<footer class="footer">

  <section class="footer__main wrapper">
    <small>&copy; 2014 Owned by or licensed to Trinity Mirror Midlands Limited. All rights reserved.</small>
  </section><!--/ footer__main  -->

</footer>
