<header>

{{> navigation }}

<section class="hero">
  <div class="hero__main wrapper">
    <div class="grid ls1-16 brand brand--logo">
      <img src="{{ gui }}/logo_hae-eha_hire-convention.png" alt="Hire Convention" >
    </div>
    <aside class="grid ls17-24 hero__aside text-center">

    <section class="box text-center hero__aside--copy">
      <p class="gamma">Wednesday 29<sup>th</sup> – <br>Thursday 30<sup>th</sup> January 2014</p>
    </section><!--/ box text-center  -->

      <!--<section class="box text-center">
        <small>Headline Partner</small>
        <a href="#" target="_blank"><img class="header__sponsor media__responsive text-center" src="http://placehold.it/250x100.png" alt="Headline Partner Name"></a>
      </section>-->

      <section class="">
        <a href="{{ url }}/registration/" class="btn btn__large btn--primary">Register for your <strong>FREE</strong> place</a>
      </section>

    </aside><!--/ hero__aside  -->
  </div>
</section><!--/ hero  -->
</header>
